body {
  background-color: lightblue;
  margin: 0;
  display: grid;
  justify-content: center;
  margin-top: 25px;
}

:root {
  --cell: 75px;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant/Assistant-Regular.ttf);
}
@font-face {
  font-family: Assistant-SemiBold;
  src: url(fonts/Assistant/Assistant-SemiBold.ttf);
}

.headerTitle {
  font-size: 50px;
  font-family: Assistant-SemiBold;
  letter-spacing: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.chessboardContainer {
  width: 750px;
  height: 750px;
  background-color: darkslategrey;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 8fr 1fr;
  position: relative;
}

.sliderContainer {
  position: absolute;
}

.speedHeader {
  position: absolute;
  top: 5px;
  left: -140px;
}

.speedHeaderTitle {
  position: absolute;
  font-size: 40px;
  top: -10px;
  font-family: Assistant-SemiBold;
}

.speedHeaderDescription {
  position: absolute;
  left: 18px;
  top: 43px;
  font-size: 20px;
  font-style: italic;
  font-family: Assistant-SemiBold;
}

.speedDisplay {
  position: absolute;
  height: 100px;
}

.speedDisplayNumber {
  width: 100px;
  /* background-color: red; */
  position: absolute;
  font-size: 40px;
  font-family: Assistant-SemiBold;
  left: -210px;
  text-align: center;
}

.speedDisplayMs {
  width: 100px;
  position: absolute;
  font-size: 20px;
  font-style: italic;
  font-family: Assistant-SemiBold;
  left: -210px;
  top: 50px;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(-90deg);
  position: absolute;
  left: -380px;
  width: 600px;
  border-radius: 15px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transform: scale(1.5);
  background: darkslategray;
  cursor: pointer;
}

.imgHeader {
  position: absolute;
  font-size: 40px;
  font-family: Assistant-SemiBold;
  left: 800px;
  top: 10px;
  text-align: center;
}

.imgContainer {
  position: absolute;
  max-width: 100px;
  right: -130px;
  top: 200px;
  display: grid;
  grid-template-columns: 100px 100px;
  justify-items: center;
  align-items: center;
}

.imgDisplay {
  cursor: pointer;
  transition: 0.1s;
}

.imgDisplay:active {
  transform: scale(0.95);
}

.imgDisplay:hover {
  transform: scale(1.05);
}

.img1 {
  max-width: 100px;
}
.img2 {
  max-width: 170px;
}

.img3 {
  max-width: 100px;
}

.img4 {
  max-width: 80px;
}

.img1Display {
  width: 65px;
}

.img2Display {
  width: 100px;
  transform: translate(-16px);
}

.img3Display {
  width: 55px;
}
.img4Display {
  width: 50px;
}

.gameboardWrapper {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

.gameboardNumbers {
  width: 75px;
  display: grid;
  grid-template-rows: repeat(8, 75px);
  align-items: center;
  justify-items: center;
}

.gameboardLetters {
  height: 75px;
  display: grid;
  grid-template-columns: repeat(8, 75px);
  justify-items: center;
  align-items: center;
}

.number,
.letter {
  font-size: 30px;
  color: white;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  height: 600px;
  position: relative;
}

.cell {
  width: var(--cell);
  height: var(--cell);
  display: grid;
  justify-items: center;
  align-items: center;
}

.black {
  background-color: black;
  /* background-color: rgba(114, 83, 73, 255); */
}
.white {
  background-color: white;
  /* background-color: rgba(240, 223, 195, 255); */
}

.defaultImg {
  position: absolute;
  width: 65px;
}

.positions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 750px;
  font-size: 40px;
  font-family: Assistant-SemiBold;
  justify-items: center;
  align-items: center;
  height: 200px;
}

.startingPosition,
.endPosition {
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: Assistant;
  width: 125px;
  height: 100px;
  border-radius: 10px;
  border: none;
  background-color: darkslategray;
}

#error {
  display: none;
  color: red;
  position: absolute;
  font-family: Assistant;
  font-size: 30px;
  top: 920px;
  width: 225px;
  height: 75px;
  text-align: center;
}

.playButtonWrapper {
  display: grid;
  justify-items: center;
  margin: 20px;
}

.playButton {
  font-size: 40px;
  font-family: Assistant;
  color: white;
  border-radius: 15px;
  border: 0px;
  width: 510px;
  padding: 15px 25px 15px 25px;
  background-color: darkslategray;
  transition: 0.2s;
  cursor: pointer;
}

.playButton:hover {
  background-color: rgb(30, 50, 50);
}

.playButton:active {
  transform: scale(0.95);
}

.resultHeader {
  font-size: 40px;
  font-family: Assistant-SemiBold;
  width: 100%;
  height: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.result {
  background-color: white;
  max-width: 750px;
  overflow: hidden;
  height: 125px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  border-radius: 15px;
  font-size: 40px;
  font-family: Assistant-SemiBold;
  padding-left: 50px;
  padding-right: 50px;
}
