body {
  background-color: lightblue;
  margin: 0;
  display: grid;
  justify-content: center;
  margin-top: 25px;
}

:root {
  --cell: 75px;
}

.container {
  width: 750px;
  height: 750px;
  background-color: darkslategrey;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 8fr 1fr;
}

.gameboardWrapper {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

.gameboardNumbers {
  width: 75px;
  display: grid;
  grid-template-rows: repeat(8, 75px);
  align-items: center;
  justify-items: center;
}

.gameboardLetters {
  height: 75px;
  display: grid;
  grid-template-columns: repeat(8, 75px);
  justify-items: center;
  align-items: center;
}

.number,
.letter {
  font-size: 30px;
  color: white;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  height: 600px;
  position: relative;
}

.cell {
  width: var(--cell);
  height: var(--cell);
  display: grid;
  justify-items: center;
  align-items: center;
}

.black {
  background-color: black;
  /* background-color: rgba(114, 83, 73, 255); */
}
.white {
  background-color: white;
  /* background-color: rgba(240, 223, 195, 255); */
}

.knight {
  position: absolute;
  max-width: 65px;
  top: 528px;
  left: 80px;
}
